/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;

}


/*

header {

	background: linear-gradient(
		rgba(212, 214, 217,0.1),
		rgba(212, 214, 217,0.1)),
		url(D:/Zuitt/marquez-romeo/wd003/MERCY/D-1/2.jpg);
	background-size:cover;
	background-position: center;
	height: 100vh;
}
*/

nav {
	position: fixed;
	width: 100%;
	line-height: 5px;
	background-color: rgb(232, 35, 101);
	height: 40px;
	z-index: 1;
	/*(79, 133, 232);*/
}


nav ul {
	float: right;
	margin:0;
	padding-top: 10px;

}

nav ul li {
	display: inline-block;
	margin:0 0 0 48px;
	padding-top: 5px;


}
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size:16px;
	padding: 20px;
}


nav.color {
	background:rgba(232, 35, 101,0.5);
}

.logo {
	height:40px;
	float: left;
	margin:0 48px;
}



.background-image img{
	background-size: cover;	
	background-position: center;
	padding-top: 50px;
	width: 70rem;
	height: 60vh;
	
}


.desc{
	width: 80%;
	margin:10px auto;


}



.desc p{

	font-size: 18px;
	line-height: 28px;
	color:red;
	text-align: justify;
}

h1{
	position: absolute;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.button{
	position: absolute;
	background-color: skyblue;
	top: 35%;
	left: 35%;

}
.button1{	 
	position: absolute;
	background-color: skyblue;
	top: 35%;
	left: 53%;
}

.button:hover{
	background: blue;
}
.button1:hover {
	background: red;
}
.container{
	text-align: center;
	color: white;
	height: 150vh;
	margin-bottom: auto;

}

/* Float four columns side by side */
.column {
	float: left;
	width: 33.3%;
	padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Style the counter cards */
.card1 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: green;
}
.card2 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:skyblue;
}
.card3 {
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color:pink;
}

.background-image h3{
	font-size: smaller;
	color: gray;
}
.row p{
	color: black;
}

.social-medias i {
	margin-top: 20px;
	background-color:rgb(232, 35, 101);
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:rgb(232, 35, 101);
	color: white;
	text-align: center;

}
/* Media Queries */


/*@media css@rule that can be used to apply style on our media queries 
(mobile screens, tablet screens, desktop screens | larger screens)
only screen - media type, means that the contained styles should be only applied
 to the media queries (mobiles, tablets, desktop screens | larger screens)
min width & max width - media features, they specify the device dimensions that we are targeting.

*/
/*Mobile phone*/
@media only screen and (max-width:400px){
	/*body {
		background-color: pink;



		}*/



	}

	/*Tablets*/
	@media only screen and (min-width: 401px) and (max-width:960px){
/*	body {
		background-color: green;
		}*/

	}
	/*desktop*/

	@media only screen and (min-width:961px){
	/*body {
		background-color: red;
		}*/

	}
